<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <script src="/javascripts/vue.js"></script>
    <script src="/javascripts/vue-resource.js"></script>
    <script src="/javascripts/axios.js"></script>
</head>
<body>
<div id="app" class="container" style="margin-top: 40px;">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email" v-model="users.email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" v-model="users.password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Check me out
            </label>
        </div>
        <button type="button" @click.prevent="sendLogin" class="btn btn-success">Submit</button>
    </form>
</div>
<script>

    // vue-resource get请求(传参的两种方式) / post请求

    const app = new Vue({
        el: "#app",
        data: {
            users: {
                name: "",
                password: ""
            }
        },
        methods: {
            sendLogin: function () {
                let email = this.$data.users.email;
                let password = this.$data.users.password;

                // get 请求并传参
                // this.$http.get("/vue/getLogin/"+email+"/"+password).then(function (response) {
                //     console.log(response.body);
                // }).catch(function (err) {
                //     console.log(err);
                // });

                // this.$http.get("/vue/queryLogin?email="+email+"&password="+password).then(function (response) {
                //     console.log(response.body);
                // }).catch(function (err) {
                //     console.log(err);
                // });

                // post 请求并传参
                // this.$http.post("/vue/postLogin", {email: email, password: password}, {emulateJSON: true}).then(function (response) {
                //     console.log(response.body);
                // }).catch(function (err) {
                //     console.log(err);
                // });

                // Axios 请求传参
                this.$http.post("/vue/postLogin", {email: email, password: password}, {emulateJSON: true}).then(function (response) {
                    console.log(response.body);
                }).catch(function (err) {
                    console.log(err);
                });
        }
        },
        mounted: function () {
            // vue-resource拦截器
            Vue.http.interceptors.push(function (req, next) {
                console.log("请求拦截来了...");
                console.log(req);
                next();
            });
        }
    });
</script>
</body>
</html>