<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        total: {{total}}
        <keke-bus></keke-bus>
    </div>
    <script>
        // 总线控制 bus
        var bus = new Vue();
        Vue.component("keke-bus",{
            template: "<div><button @click='add'>+</button><button @click='minu'>-</button></div>",
            data(){
                return {
                    counter : 0
                }
            },
            methods: {
                add:function(){
                    this.counter++;
                    // 相当于调用父类 getTotal函数
                    bus.$emit("getTotal",this.counter);
                },
                minu:function(){
                    this.counter--;
                    bus.$emit("getTotal",this.counter);
                }
            }
        });
        var app = new Vue({
            el: "#app",
            data :{
                total: 0
            },
            mounted: function(){
                var that = this;
                // $on 监听
                bus.$on("getTotal",function(total){
                    that.total = total;
                });
            }
        });
    </script>
</body>
</html>