<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <!-- slot 槽点-->
    <div id="app">
        <keke-slot>
            <template  slot="header" scope="props">
                <h1>我是头部 -- {{props.msg}}</h1>
            </template>
            
            <h1 slot="banner">我是Banner</h1>
            <h1 slot="context">我是内容</h1>
            <h1 slot="footer">我是底部</h1>
            <p>我是内容</p>
            <p>我是内容</p>
            <p>我是内容</p>
            <p>我是内容</p>
            <p>我是内容</p>
        </keke-slot>
    </div>

    <!-- 审查元素浏览器不会渲染这部分,直接展示出来 这种方式很少使用-->
    <script type="text/x-template" id="mytemplate">
        <div class='container'>
            <div class="header"><slot name='header' msg='我是一个属性，来自于slot'></slot></div>
            <div class="banner"><slot name='banner'></slot></div>
            <div class="context"><slot name='context'></slot></div>
            <div class="footer"><slot name='footer'></slot></div></slot>
        </div>
    </script>
    <script>
        Vue.component("keke-slot",{
            template: "#mytemplate"
        })
        var app = new Vue({
            el: "#app",
            data: {
                message: "我是父组件数据"
            }
        });
    </script>
</body>
</html>