<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <keke-slot>
                <div class="header"><h1>我是头部</h1></div>
                <div class="banner"><h1>我是Banner</h1></div>
                <div class="context"><h1>我是内容</h1></div>
                <div class="footer"><h1>我是底部</h1></div>
        </keke-slot>
    </div>

    <script>

        Vue.component("keke-slot",{
            template: "<div><slot></slot></div>",
            data(){

            }
        })

        var app = new Vue({
            el: "#app",
            data: {
                message: "我是父组件数据"
            }
        });
    </script>
</body>
</html>