<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    
    <div id="app">
        <input v-model="message " />
        {{message}}


        <div v-model="price"></div>
        <div id="price"></div>
    </div>

    <script>
        var app = new Vue({
            el : '#app',
            data : {
                message : 'hello world'    
            }
        })
    </script>

</body>
</html>